<!DOCTYPE html>
<html lang="en" dir="ltr" class="spectrum spectrum--medium spectrum--lightest">
<head>
  <meta charset="utf8" />
  <title>{{title}}</title>
  <!-- needed for adaptive design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="https://use.typekit.net/iaw1apr.css">
  <link rel="stylesheet" href="https://devdocs.magento.com/assets/css/app.css?ver=9" />
  <link rel="stylesheet" href="/assets/css/redoc.css" />

  <link rel="icon" href="https://www.adobe.com/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="https://www.adobe.com/favicon.ico" type="image/x-icon"/> 

  <script>
    var baseUrl = '';
  </script>

  {{{redocHead}}}

</head>
<body>

<header class="site-header">
<nav class="site-nav">

  <div class="nav-container">

    <div class="menu-btn">
      <button id="menu-btn" class="menu-trigger menu-icon" aria-haspopup="true" aria-controls="nav-main" aria-label="Menu"></button>
    </div>

    <a class="logo" href="https://devdocs.magento.com/">
      <img class="logo-image" src="/assets/i/adobe-a.svg" alt="Adobe">
      <span class="logo-text">Adobe</span>
      <span class="site-logo">Commerce REST API</span>
    </a>
    
    <!--
    <div id="nav-main" class="nav-main-wrap" aria-labelledby="menu-btn">
      <ul class="nav-main spectrum-Tabs spectrum-Tabs--horizontal desktop-view" role="menubar">
        <li class="nav-main-item spectrum-Tabs-item is-selected" tabindex="0" role="menuitem">
          <a href="/" class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-1">Admin</a>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem">
          <a href="/customer/" class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-1">Customer</a>
        </li>
        <li class="nav-main-item spectrum-Tabs-item" tabindex="0" role="menuitem">
          <a href="/guest/" class="spectrum-Tabs-itemLabel" tabindex="-1" id="main-nav-popupLabel-1">Guest</a>
        </li>
      </ul>
    </div>
    -->

    <div class="nav-actions">
      
      <div class="app-switcher">
        <div class="dropdown">
          <button id="app-switcher-trigger" class="app-switcher-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Documentation sites"></button>
          <div class="dropdown-menu spectrum-Popover spectrum-Dropdown-popover spectrum-Popover--bottom dropdown-menu-right" aria-labelledby="app-switcher-trigger" role="menu">
          
            <div class="app-switcher-content">
              <div class="app-switcher-group">
                <span class="spectrum-Menu-sectionHeading" id="app-switcher-category-1">Developer</span>
                <ul class="spectrum-Menu" role="group" aria-labelledby="app-switcher-category-1">
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="https://devdocs.magento.com/">Commerce Developer Documentation</a></li>
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="http://pwastudio.io/">PWA Studio</a></li>
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="https://omsdocs.magento.com/en/">Order Management</a></li>
                </ul>
              </div>
              <div class="app-switcher-group">
                <span class="spectrum-Menu-sectionHeading" id="app-switcher-category-2">Merchant</span>
                <ul class="spectrum-Menu" role="group" aria-labelledby="app-switcher-category-2">
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="https://docs.magento.com/user-guide/">Commerce User Guide</a></li>
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="https://omsdocs.magento.com/en/userguides/">Order Management</a></li>
                  <li class="spectrum-Menu-item" role="menuitem"><a class="spectrum-Menu-itemLabel" href="https://docs.magento.com/mbi/">Business Intelligence</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</nav><!-- #site-nav -->
</header>

{{{redocHTML}}}

<script type="text/javascript"  src="/assets/js/app.js"></script>

</body>
</html>
